/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. Color pallete 
*  can be generated at https://docusaurus.io/docs/styling-layout#styling-your-site-with-infima 
*/
:root {
  --ifm-color-primary: #943c1e;
  --ifm-color-primary-dark: #85361b;
  --ifm-color-primary-darker: #7e3319;
  --ifm-color-primary-darkest: #682a15;
  --ifm-color-primary-light: #a34221;
  --ifm-color-primary-lighter: #aa4522;
  --ifm-color-primary-lightest: #c04e27;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  /* Embla Carousel */
  --detail-high-contrast: rgb(192, 192, 192);
  --detail-medium-contrast: rgb(234, 234, 234);
  --detail-low-contrast: rgb(240, 240, 242);
  /* Custom */
  --card-bg: #f8f9fa;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #eea891;
  --ifm-color-primary-dark: #e98e70;
  --ifm-color-primary-darker: #e6815f;
  --ifm-color-primary-darkest: #df592d;
  --ifm-color-primary-light: #f3c2b2;
  --ifm-color-primary-lighter: #f6cfc3;
  --ifm-color-primary-lightest: #fdf7f5;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  /* Embla Carousel */
  --detail-high-contrast: rgb(101, 101, 101);
  --detail-medium-contrast: rgb(25, 25, 25);
  --detail-low-contrast: rgb(21, 21, 21);
  /* Custom */
  --card-bg: #232323;
}
